{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block TITLE %} Terminübersicht {% endblock %}

{%block CONTENT%}
                <div class ="mb-5">   
                <a href="{{ url_for('termine') }}" class="btn btn-outline-secondary mb-3">
                     &larr; Zurück
                         </a>    
                    <div class = "card shadow-sm p-3">
                    
                        <h3 class = "mb-3">Abgeschlossene Termine</h3>
                        <div class = "rounded-3 overflow-hidden border shadow-sm">
                            <table class = "table table hover mb-0">
                                <thead class ="table-light">
                                    <tr> <th>Deine bisherigen Termine</th> </tr>
                                </thead>
                                <tbody>
                                {% for t in erledigte%}
                                    <tr>
                                        <td>
                                            <strong> {{t.datum.strftime('%d.%m.%Y')}}:</strong>  
                                            {% if nutzer.rolle == "Helfer"%}
                                                Bei {{t.pp.vorname}} {{t.pp.nachname}}
                                            {% elif nutzer.rolle == "PP"%}
                                                Mit {{t.helfer.vorname}} {{t.helfer.nachname}}
                                            {%endif%}
                                            von {{t.uhrzeit_beginn.strftime('%H:%M')}} bis {{t.uhrzeit_ende.strftime('%H:%M')}}
                                            
                                            {% if t.notizen%}
                                                <div class="text-muted small mt-1">
                                                    <em>Notiz: {{ t.notizen}} </em>
                                                </div>
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%else%}
                                    <tr>
                                        <td colspan = "3" class = "text-center text-muted">
                                            Du hast aktuell keine abgeschlossenen Termine!
                                        </td>
                                    </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

{% endblock %}