{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block TITLE %} Terminübersicht {% endblock %}

{% block CONTENT%}
    <h1> Anstehende Termine</h1>
    <p>Das sind deine nächsten Termine:</p>

    <ul>
    {% for t in termine%}
        <li>
            <label for = "{{t.id}}">
                <strong> {{t.datum.strftime('%d.%m.%Y')}}:</strong>  
                {% if nutzer.rolle == "Helfer"%}
                  Bei {{t.pp.vorname}} {{t.pp.nachname}}
                {% elif nutzer.rolle == "PP"%}
                  Mit {{t.helfer.vorname}} {{t.helfer.nachname}}
                {%endif%}
                von {{t.uhrzeit_beginn.strftime('%H:%M')}} bis {{t.uhrzeit_ende.strftime('%H:%M')}} </label>
        </li>
    {% else %}
    <li class="text-muted"><em>Aktuell stehen keine Termine an. Alles erledigt!</em></li>
    {%endfor%}
    </ul>

    <hr>
    <h2> Neuen Termin eintragen </h2>
   
    <div class = "row">
        <div class = "col-md-6">
            {{ render_form(form)}}
        </div>
    </div>

{% endblock %}