{% extends "base.html" %}

{% block TITLE %} Terminübersicht {% endblock %}

{% block CONTENT%}
    <h1> Anstehende Termine</h1>
    <p>Das sind deine nächsten Termine:</p>

    <ul>
    {% for t in termine%}
        <li>
            <label for = "{{t.id}}">
                <strong> {{t.datum.strftime('%d.%m.%Y')}}: Bei {{t.pp.vorname}} von {{t.uhrzeit_beginn.strftime('%H:%M')}} bis {{t.uhrzeit_ende.strftime('%H:%M')}}</strong></label>
        </li>
    {% else %}
    <li class="text-muted"><em>Aktuell stehen keine Termine an. Alles erledigt!</em></li>
    {%endfor%}
    <h2> Neuen Termin eintragen </h2>
    <form action="{{ url_for('termine') }}" method="post">
    {{ form.csrf_token }}
    {{form.datum}}: Von {{form.uhrzeit_beginn}} bis {{form.uhrzeit_ende}}. Deine Notizen:{{form.notizen}}
    {{form.eintragen}}
    </form>


    </ul>

{% endblock %}